/* utility classes */

.text-center{
    text-align: center;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.flex{
    display: flex;
}

.flex-col{
flex-direction: column;
}

.items-center{
    align-items: center;
}